
@{
    ViewData["Title"] = "error404";
}

<h2>error404</h2>

<p class="alert alert-danger">We are deeply sorry but this page is not avaiable, click <a class="alert-link" href="/"> here</a> to go home</p>


