
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Admin Dashbaord";
}

<h2>Admin Dashbaord</h2>

<div class="jumbotron">
    <h1>Hello, @UserManager.GetUserName(User)</h1>
    <p>Welcome to Admin Dashbaord</p>
</div>

<div class="row">

    <div class="col-md-3"><a asp-area="" asp-controller="Yarmoolkas" asp-action="Create" class="btn btn-primary btn-lg">Create New Yarmoolka</a></div>
    <div class="col-md-3"><a asp-area="" asp-controller="Customers" asp-action="Create" class="btn btn-primary btn-lg">Create New Customer</a></div>
    <div class="col-md-3"><a asp-area="" asp-controller="Suppliers" asp-action="Create" class="btn btn-primary btn-lg">Create New Supplier</a></div>
    <div class="col-md-3"><a asp-area="" asp-controller="StoreBranches" asp-action="Create" class="btn btn-primary btn-lg">Create New Branch</a></div>
</div>