@{
    ViewData["Title"] = "Home Page";
}




<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
    <h1 id="main-title">Yarmoolka <span class="thin">Store</span></h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>
            New arrival
        </h3>
    </div>
    <div class="panel-body ">
        <div class="well">

            <video controls src="~/Yarmoolka.mp4" style="width: 100%;"> </video>

        </div>


    </div>

</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v3.2';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="well ">
    <div class="fb-page well" data-href="https://www.facebook.com/kipotania"
     data-tabs="timeline"
     data-width="5000"
     data-small-header="false"
     data-adapt-container-width="true"
     data-hide-cover="false"
     data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/kipotania" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/facebook">‏‎Facebook‎‏ loading</a></blockquote></div>
</div>

@*<aside id="twitterbox">

        <div class="panel panel-primary">
            <div class="panel-heading">
                lateset news from today Yarmoolkas
            </div>
            <div class="panel-body ">
                <div id="twitterrows">

                </div>


            </div>

        </div>

        <br stle="clear: both" />

    </aside>*@



@section scripts {
    <script type="text/javascript">
        $(function () {


            $.getJSON("../Home/GetTweets", function (res) {
                const x = res.map(tweet => "<tr><td>" + tweet + "</td><tr>").reduce((acc, next) => acc + next);
                const table = "<table class='table table-striped'>" + x + "</table>"
                $("#twitterRows").html(table).addClass('animated flip');;

            });



        });
    </script>


    <script src="~/js/home.js"></script>
    <script src="~/js/TweenLite.min.js"></script>
    <script src="~/js/EasePack.min.js"></script>
    <script src="~/js/rAF.js"></script>
    <script src="~/js/demo-1.js"></script>

}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/css/component.css" />

}